h1 {
    border: 3px;
    border-style: ridge;
    border-color: #ff981a;
    width:400px;
    margin: 15px auto;
    padding: 16px;
    background-color: #e67f00;
    text-align: center;
}
.blue {
    color: blue;
}

.red {
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}

.title-style {
   
    font-size: 45px;
    text-align: center;
    font-weight: 700;


}

#recipe-title {
    background-color: red;
}

.menu {
    font-family: Georgia;
    color: rgb(60, 179, 113);
    font-size: 30px;
    list-style-position: inside;

}

ul {
    padding: 8px;

}

li {
    padding: 30px;
  text-align: center;
  margin-bottom: 10px;
}


.miso {
    color: #ff8d00; 
    background-color: #ff8d00;

}
.spring {
    color: #ff981a;
    background-color: #ff981a;

}


.tahini {
    color: #ffa334;
    background-color: #ffa334;
}

.white-text {
    color: #EEEEEE;
}


/*
.mainlist {
    border: 1px;
    border-style: outset;
    border-color: #00874450;
    display:block;
    margin-bottom:16px;
    margin-top: 16px;
    width: 360px;
    text-align: center;
    height: 36px;
    padding: 16px;
    background: #008744;
    display: block;
margin: auto;
    
}
*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




.headings {
    font-size: 40px;
    font-weight: 700;
    font-family: "Comic Sans Serif", "Times New Roman";
    text-align: center;
    background-color: rgba(0, 255, 0, 0.4)
}

.dish-image {
    height: auto;
    width: 500px;
   
    
    
}

.description-heading{
    font-family:Verdana, Arial;
    font-size: 30px;
}

.descriptions {
    font-size: 26px;
    font-weight: 500;
    background-color: rgba(250, 244,211,1)
}

.odd-steps {
    background-color: rgb(240, 255, 240);
}
.even-steps { 
    background-color: rgba( 60, 179, 113,0.4 );

}





